.big_size_box {
  position: relative;
  color: #fff;
  margin-bottom: 10px;

  .img {
    height: 100px;
    margin-top: 30px;

    img {
      width: 70px;
    }
  }
  .text {
    margin-bottom: 30px;
    .price {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .point {
      font-size: 25px;
      font-weight: bold;
      line-height: 25px;
    }
    .point_original {
      font-size: 13px;
      text-decoration: line-through;
    }
  }

  .discount {
    background-color: #e9293f;
    margin-top: 10px;

    font-size: smaller;
    padding: 2px 6px;
  }

  .checkBox {
    position: absolute;

    bottom: 0;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, 50%);

    justify-content: center;
    align-items: center;

    img {
      width: 40px;
    }
  }
}

.checked {
  background-color: #222134;
}

.unchecked {
  background-color: #b6b6b6;
}
